/**
 * Dependencies
 */
@import 'nib'
@import 'jeet'

global-reset()

/**
 * Common
 */
@import 'common/header'
@import 'common/footer'
@import 'common/view'

/**
 * Components
 */
@import 'components/user'

/**
 * Views
 */
@import 'views/home'
@import 'views/example'